# Configuración del servidor de verificación 2FA

# Puerto en el que corre el servidor
PORT=3001

# EmailJS Configuration
EMAILJS_SERVICE_ID=service_f6xmqoa
EMAILJS_TEMPLATE_ID=template_5itxn0q
EMAILJS_PUBLIC_KEY=tUG7Nzla7OIiwTIDZ
